
    .steppers
    {
      background-color: black;
    }

    .stepper {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 1rem;
      /* background-color: #121121; */
      width:40%;
      margin-left: 370px;
      
    }
    
    .step {
      text-align: center;
      cursor: pointer;
      color:white;
    }
    
    .step.active p {
      color: #28a745;
      font-weight: bold;
    }
    
    .circle {
      width: 30px;
      height: 30px;
      border: 2px solid #ccc;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 0 auto 5px auto;
      font-weight: bold;
      color: white;
      background-color: #ccc;
    }
    
    .circle.completed {
      background-color: #28a745;
      border-color: #28a745;
    }
    
    .step.active .circle {
      border-color: #28a745;
      color: white;
    }
    
